:root {
	--base: #1e1e2e;
	--text: #cdd6f4;
	--lavender: #b4befe;
	--mauve: #cba6f7;
	--blue: #89b4fa;
}

@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	height: 100vh;
	box-sizing: border-box;
	font-family: "Nunito", sans;
	color: var(--text);
	background-color: var(--base);
	overflow: hidden;
	display: flex;
}

img {
	width:40%;
	border-radius: 50%;
}

.apresentacao {
	width: 100%;
	margin: 0 20%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.apresentacao__conteudo {
	width: 50%;
	display: flex;
	flex-direction: column;
	gap: 2rem;
}

.titulo {
	font-size: 2.5rem;
	font-weight: 700;
}

.titulo .destaque {
	color: var(--mauve);
}

.titulo .texto {
	font-size: 1.2rem;
	font-family: "Nunito", sans-serif;
}

.apresentacao__links {
	display: flex;
	justify-content: space-between;
}

.apresentacao__links .link {
	width: 12rem;
	text-align: center;
	background-color: var(--mauve);
	color: var(--base);
	font-size: 1.2rem;
	font-family: "Nunito", sans;
	font-weight: 600;
	padding: 20px 0;
	border-radius: 10px;
	text-decoration: none;
}
